<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="style.css" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

		<style>
						input {
							margin-bottom: 1rem;
						}

						label {
							margin-left: 1rem;
						}
						button {
							margin: 1rem;
							padding: 1rem;
			s			}

						a {
							margin: 1rem;
							padding: 1rem;
						}

						table {
							margin-top: 4rem;
						}

						h1 {
							text-align: center;
						}

						.d-form {
							padding: 1rem;
			           margin: 5% 0 0 0;
							border: 2px solid gray ;
			           border-radius: 15px;

						}

						.row {
							display: flex;
							justify-content: center;
							align-items: center;
						}
		</style>
	</head>

	<body>
		<div class="container">
			<h1 id="h1">Hey!! Welcome To The Coffee Bean's 😀</h1>

			<div ng-app="myApp" ng-controller="myController">
				<div class="d-form">
					<div class="row">
						<div class="col-md-3">
							<label for="">Policy Name</label>
							<input
								type="text"
								class="form-control py-1"
								placeholder="Policy Name"
								ng-model="name"
							/>
						</div>
						<div class="col-md-3">
							<label for="">Term of Insurance</label>
							<input
								type="text"
								class="form-control py-1"
								placeholder="Term of Insurance"
								ng-model="cat"
							/>
						</div>
						<div class="col-md-3">
							<label for="">Policy Number</label>
							<input
								type="text"
								class="form-control py-1"
								placeholder="Policy Number"
								ng-model="price"
							/>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<label for="">Start Date</label>
							<input
								type="date"
								class="form-control py-1"
								placeholder="Start Date"
								ng-model="start"
							/>
						</div>
						<div class="col-md-3">
							<label for="">End Date</label>
							<input
								type="date"
								class="form-control py-1"
								placeholder="End Date"
								value="End Date"
								ng-model="end"
							/>
						</div>
					</div>
					<div class="row">
						<button type="button" class="btn btn-primary" ng-click="addRow()">
							Add
						</button>
					</div>
				</div>

				<script>
					$(document).ready(function () {
						$("#myInput").on("keyup", function () {
							var value = $(this).val().toLowerCase();
							$("#table tr").filter(function () {
								$(this).toggle(
									$(this).text().toLowerCase().indexOf(value) > -1
								);
							});
						});
					});
				</script>

				<table id="table" class="table table-striped table-dark">
					<thead>
						<tr>
							<th scope="col">Dish ID</th>
							<th scope="col">Policy Name</th>
							<th scope="col">Term of Insurance</th>
							<th scope="col">Policy Number</th>
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
							<th scope="col">delete data</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="snames in sArray">
							<td scope="row">{{$index + 1}}</td>

							<td>{{snames.name}}</td>

							<td>{{snames.cat}}</td>
							<td>{{snames.price}}</td>
							<td>{{snames.start}}</td>
							<td>{{snames.end}}</td>
							<td><input type="checkbox" ng-model="snames.Remove" /></td>
						</tr>
					</tbody>
				</table>

				<button type="button" class="btn btn-success" ng-click="submit()">
					Display Dishes
				</button>
				<button type="button" class="btn btn-danger" ng-click="removeRow()">
					Remove Dish
				</button>
				<button type="button" class="btn btn-warning" ng-click="upstb()">
					Update Dish
				</button>
				<a class="btn btn-primary" href="index.html">Log Out</a>
			</div>
		</div>
	</body>

	<script>
		var app = angular.module("myApp", []);

		app.controller("myController", function ($scope) {
			$scope.sArray = [
				{ name: "Paneer", cat: "veg", price: 400, start: 123, end: 123 },

				{ name: "Veg Thali", cat: "veg", price: 100, start: 123, end: 123 },

				{ name: "Biryani", cat: "non-veg", price: 200, start: 123, end: 123 },
			];

			$scope.addRow = function () {
				if (
					$scope.name != undefined &&
					$scope.cat != undefined &&
					$scope.price != undefined &&
					$scope.start != undefined &&
					$scope.end != undefined
				) {
					var sname = [];

					sname.name = $scope.name;

					sname.cat = $scope.cat;

					sname.price = $scope.price;

					var startd = new Date($scope.start);
					var dd = String(startd.getDate()).padStart(2, "0");
					var mm = String(startd.getMonth() + 1).padStart(2, "0"); //January is 0!
					var yyyy = startd.getFullYear();
					startd = dd + "/" + mm + "/" + yyyy;
					sname.start = startd;

					var endd = new Date($scope.end);
					var dd = String(endd.getDate()).padStart(2, "0");
					var mm = String(endd.getMonth() + 1).padStart(2, "0"); //January is 0!
					var yyyy = endd.getFullYear();
					endd = dd + "/" + mm + "/" + yyyy;

					sname.end = endd;

					$scope.sArray.push(sname);
					$scope.name = null;

					$scope.cat = null;
					$scope.price = null;
					$scope.start = null;
					$scope.end = null;
				}
			};

			$scope.removeRow = function () {
				var arrstud = [];

				angular.forEach($scope.sArray, function (value) {
					if (!value.Remove) {
						arrstud.push(value);
					}
				});

				$scope.sArray = arrstud;
			};
			$scope.upstb = function () {
				rn = window.prompt("Input the Row number", "0");
				cn = window.prompt("Input the Column number", "0");
				content = window.prompt("Input the Cell content");
				var x = document.getElementById("table").rows[parseInt(rn, 10)].cells;
				x[parseInt(cn, 10)].innerHTML = content;
			};

			$scope.submit = function () {
				var arrstud = [];

				angular.forEach($scope.sArray, function (value) {
					arrstud.push(
						"Dish Name:" +
							value.name +
							", Category:" +
							value.cat +
							"Dish Price:" +
							value.price
					);
				});

				$scope.display = arrstud;
			};
		});
	</script>
</html>
